PM_CONFIG=/opt/pm-alpha/repo/config/pm-alpha.toml
POLYGON_RPC_URL=https://polygon-rpc.example
PM_ACC1_PRIVATE_KEY=0xREPLACE_ME
PM_ACC1_API_KEY=REPLACE_ME
PM_ACC1_API_SECRET=REPLACE_ME
PM_ACC1_API_PASSPHRASE=REPLACE_ME
PM_ACC1_RELAYER_API_KEY=REPLACE_ME
PM_ACC1_RELAYER_API_KEY_ADDRESS=0xREPLACE_ME
PM_TELEGRAM_BOT_TOKEN=REPLACE_ME
